doctype html
html(lang="en")
    head
        include common_headers.pug
        - var title = page.currText ? page.currText + ' | Bing Wallpapers, Bing Daily Wallpapers, Bing HD Wallpapers' : 'Bing Wallpapers, Bing Daily Wallpapers, Bing HD Wallpapers'
        title #{title}
        meta(name="keywords", content="Bing wallpaper, Bing hd wallpaper download, Bing wallpaper collection, Bing daily download wallpaper, Bing wallpaper interface, Bing official download wallpaper, Bing wallpaper, Microsoft Bing daily wallpaper, Bing daily download wallpaper, wallpaper Bing API, hd wallpaper share, Bing official download wallpaper, Bing hd wallpaper, Bing package download wallpaper")
        link(rel='stylesheet', href="/static/css/progressively.css")
        link(rel='stylesheet', href='/static/css/common.css')
        link(rel='stylesheet', href='/static/css/main.css')
    body
        header
            div.container
                a.logo(href="/")
                    i.icon.icon-bing
                    span Bing Wallpaper
                nav
                    ul.menu
                        li(class=`${page.currPage === 'home' ? 'active' : ''}`)
                            a(href="/")
                                i.icon.icon-home
                                p.text Home
                        li
                            a(data-no-instant, href="/static/about.html")
                                i.icon.icon-about
                                p.text About

        div.holder
        div.mask
        div.container
            each val in doc
                - let location = (val.country && val.city) ? val.country + ', ' + val.city : false;
                - location = val.continent ? (location ? val.continent + ', ' + location : val.continent) : location;
                div.item
                    div.card.progressive
                        img.progressive__img.progressive--not-loaded(data-progressive=val.middle,src=val.small )
                        a.mark(href=`/photo/${val.photo}?force=${page.currPage}_${page.curr}`)
                        div.description
                            h3 #{val.copyright}
                            p.calendar
                                i.icon.icon-calendar
                                em.t #{val.dt}
                            if location
                                p.location
                                    i.icon.icon-location
                                    em.t #{location}
                            p.view
                                i.icon.icon-eye
                                em.t #{val.views}
                        div.options
                            span.ctrl.heart(photo=val.id, likes=val.likes)
                                i.icon.icon-heart
                                em.t #{val.likes}

                            a.ctrl.download(href=`/photo/${val.photo}?force=download`,target="_blank",rel="nofollow")
                                i.icon.icon-download
                                em.t #{val.downloads}
        div.page
            - var url = page.currPage === 'home' ? '/' : `/${page.currPage}`
            - var prev = page.prev === 1 ? `${url}` : `${url}?p=${page.prev}`;
            - var next = `${url}?p=${page.next}`;
            a(href=prev) Previous
            span #{page.curr} / #{page.pageCount}
            a(href=next) Next
        div.copyright
            p All pictures on this site are from <a rel='nofollow' href="https://www.bing.com" target="_blank">Bing</a>

        script(src="/static/js/jquery-1.12.4.min.js")
        script(src="/static/js/progressively.js")
        script(src="/static/js/device.js")
        script(src="/static/js/like.js")
        script.
            $(function () {
                var i = 0;
                var timer = setInterval(function () {
                    progressively.init();
                    if (i++ === 5) clearInterval(timer);
                }, 1000 / 4);
                var click = 'ontouchstart' in window ? 'touchstart' : 'click';
                if (DEVICE.isMobile) {
                    $(document.body).addClass('mobile');
                }
                $(document).on('keydown', function (e) {
                    e = e.event || window.event;
                    if (e.keyCode === 123 || (e.ctrlKey && e.shiftKey && e.keyCode === 73) || (e.ctrlKey && e.keyCode === 85)) return false
                })
            });
